body {
    /* Avoid collapsible margins that do not occur with flexbox */
    margin: 0;
    padding: 0.5rem;
}

#app > * > a {
    position: absolute;
    right: 1rem;
    top: 0.5rem;
}

/* Use a simple flexbox layout. */
#app > .home {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

#app > .home > h1 {
    width: 100%;
}

#app > .home > div {
    flex: 1 0 10rem;
    margin: 1rem;
}

#app > .home > div:last-child textarea {
    margin-top: 2.5rem;
}

h1, .about > p {
    padding: 0 1rem;
}

input[type="file"] {
    display: block;
    margin-top: 0.5rem;
    height: 2rem;
}

label {
    margin-right: 0.5rem;
}

textarea {
    height: 10rem;
    width: 100%;
}

a[download] {
    opacity: 0.33;
}

a[download][href] {
    opacity: 1;
}
